<div style="height: 60vh;">
<div id="particles-js"></div>
<div id="header-content">
  <div class="content">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="icons-header">
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <a class="link" href="{{site.url}}/index.html">Home</a>
      <a class="link" href="{{site.url}}/projects.html">Projects</a>
      <a class="link" href="{{site.url}}/articles.html">Articles</a>
      <a class="link" href="{{site.url}}/about.html">About me</a>
      <a class="link" href="{{site.url}}/about.html">ArtFlow</a>
  </div>
</div>
</div>

<script>
  window.addEventListener("load", () => {
    const sweetScroll = new SweetScroll({
      quickMode: true,
      duration: 2000,
      easing: "easeOutExpo" // Recommended
    });
    sweetScroll.toElement(document.getElementById("down"));
  });
</script>
