<div class="container">

  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>

  {% assign sorted = site.projects | date_sort | reverse %}
  {% for project in sorted %}
  <div class="row project-card">
    <div id="project-card-elt-1" class="project-card-elt">
        {% if project.thumbnail contains '://' %}
        <img alt="{{ project.title }}" src="{{ project.thumbnail }}" />
        {% else %}
        <img alt="{{ project.title }}" src="{{ site.url }}/{{ site.projects_img_folder }}/{{ project.thumbnail }}" />
        {% endif %}
    </div>
    <div id="project-card-elt-2" class="project-card-elt">
      <div id="project-card-elt-2-text">
      <h5>
        <a href="{{ project.url }}">{{project.title}}</a>
      </h5>
      <p>{{project.description}}</p>
      <a class="project-link" href="{{ project.url }}">Learn more</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
