<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ block "styles" . }} {{ end }}
{{ block "seo_variables" . }} {{ end }}
{{ partial "head.html" . }}

<body>
  {{ partial "burger.html" .}}

  {{ partial "nav.html" .}}

  <main>
    {{ block "main" . }} {{ end }}
  </main>

  {{ block "footer" . }} {{ end }}

  {{ $script := resources.Get "js/index.js" | minify | fingerprint }}

  {{ if .IsHome }}
    {{ $home_script := resources.Get "js/demo/demo.js" }}
    <script
      src="{{ $home_script.RelPermalink }}"
      integrity="{{ $home_script.Data.Integrity | safeHTMLAttr }}"
      crossorigin="anonymous"
    ></script>
  {{ end }}

  <script
    src="{{ $script.RelPermalink }}"
    integrity="{{ $script.Data.Integrity | safeHTMLAttr }}"
    crossorigin="anonymous"
  >
  </script>

  {{ block "scripts" . }} {{ end }}

</body>

</html>
