<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ block "styles" . }} {{ end }}

{{ with ( .Params.images ) }}
  {{ with ( index . 0 ) }}
    {{ $.Scratch.Set "pageThumbnail" ( . | absURL ) }}
  {{ end }}
{{ end }}
{{ with ( .Params.videos ) }}
  {{ with (index . 0) }}
    {{ $.Scratch.Set "pageVideo" ( . | absURL ) }}
  {{ end }}
{{ end }}

{{ block "seo_variables" . }} {{ end }}

{{ partial "head.html" . }}

<body class="{{ cond .IsHome "lightgray" "" }} ">
  {{ partial "burger.html" .}}
  {{ partial "nav.html" .}}

  {{ block "pre-main" . }} {{ end }}

  <main>
    {{ block "main" . }} {{ end }}
  </main>

  {{ block "footer" . }} {{ end }}

  {{ $script := resources.Get "js/index.js" | minify | fingerprint }}

  {{ if .IsHome }}
    {{ $home_script := resources.Get "js/demo/demo.js" }}
    <script
      src="{{ $home_script.RelPermalink }}"
      integrity="{{ $home_script.Data.Integrity | safeHTMLAttr }}"
      crossorigin="anonymous"
    ></script>
  {{ end }}

  <script
    src="{{ $script.RelPermalink }}"
    integrity="{{ $script.Data.Integrity | safeHTMLAttr }}"
    crossorigin="anonymous"
  >
  </script>

  {{ block "scripts" . }} {{ end }}

</body>

</html>
