<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ block "styles" . }} {{ end }}
{{ partial "head.html" . }}

<body>
  {{ partial "burger.html" .}}

  {{ partial "nav.html" .}}

  <main>
    {{ block "main" . }} {{ end }}
  </main>

  {{ block "footer" . }} {{ end }}

  {{ $script := resources.Get "js/index.js" | minify | fingerprint }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}" crossorigin="anonymous"></script>
  {{ block "scripts" . }} {{ end }}
</body>

</html>
