{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "seo_variables" }}

  <!--
    Global variable pointing to the image of this page.

    Feeds variables like: `seoImage`, etc...
  -->

  {{ with ( index .Pages 0 ) }}
    {{ with ( .Params.images ) }}
      {{ with (index . 0) }}
        {{ $.Scratch.Set "pageThumbnail" ( . | absURL ) }}
      {{ end }}
    {{ end }}
    {{ with ( .Params.videos ) }}
      {{ with (index . 0) }}
        {{ $.Scratch.Set "pageVideo" ( . | absURL ) }}
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}

{{ define "main" }}

{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}
{{ $pageSection := .Page.Section }}

<div class="cards_list_container">
  <div class="cards_list">
    {{ range $i, $elt := .Pages }}
      <div class="list_entry{{ cond (eq (mod $i 2) 0) "" " reverse" }}" >
        {{ $wrapLeft := (eq (mod $i 2) 0) }}
        {{ $link := .Params.link | default .RelPermalink }}
        {{ $isLinkExternal := isset .Params "link" }}

        {{ with ( .Params.images ) }}
          {{ with (index . 0) }}
            {{ $.Scratch.Set "_image" ( . | absURL ) }}
          {{ end }}
        {{ end }}
        {{ with ( .Params.video ) }}
          {{ $.Scratch.Set "_video" ( . | absURL ) }}
        {{ end }}

        <!-- Displays video / image for the post. -->
        {{ if ( $.Scratch.Get "_video" ) }}
        <iframe
          class="image"
          src="{{ $.Scratch.Get "_video" }}"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        {{ else }}
        <div
          class="image"
          style="background-image: url('{{ $.Scratch.Get "_image" }}');"
        ></div>
        {{ end }}

        {{ $.Scratch.Delete "_image" }}
        {{ $.Scratch.Delete "_video" }}

        <!-- Content of the card, including title, date, and link. -->
        <div class="blog_content">
          <div class="text">

            <!-- Icon representing the category. -->
            {{ if ( eq $pageSection "projects" ) }}
              {{ if (not .Params.hideTagIcon) }}
              {{ $firstIcon := index ( .Params.tags ) 0 }}
              <object
                type="image/svg+xml"
                data="{{print "images/tag/" $firstIcon ".svg" | absURL}}"
                class="tag_image {{ cond $wrapLeft  "right" "left" }}"
              >
              </object>
              {{ end }}
            {{ end }}

            <div style="text-align: {{ cond $wrapLeft  "left" "right" }}">
              <time class="date_medium" datetime="{{ .Date }}">
                {{ .Date.Format $dateFormat }}
              </time>
              <h2 class="title_medium">
                <a
                  href="{{ $link }}"
                  target="{{ cond $isLinkExternal "_blank" "" }}"
                >
                  {{ $elt.Title }}
                </a>
              </h2>

              <!-- Visual list of tag to quickly describe content -->
              <div class="tags_list {{ cond $wrapLeft "" "reverse" }}">
                {{ range $tag := .Params.tags }}
                  <small
                    class="tag tag_{{ lower $tag }} {{ cond $wrapLeft "" "tag_reverse" }}"
                    style="{{ cond $wrapLeft "margin-right" "margin-left" }}: 0.5rem"
                  >
                    {{ $tag }}
                  </small>
                {{ end }}
              </div>

            </div>

            <!-- Summary extracted from markdown, and converrted to HTML -->
            <div class="summary">
              {{ if .Params.summary }}
                <p>{{ .Params.summary }}</p>
              {{ else }}
                {{ .Summary }}
              {{ end }}

              <p class="link_box">
                <a
                  href="{{ $link }}"
                  target="{{ cond $isLinkExternal "_blank" "" }}"
                  class="link {{ cond $wrapLeft "" "reverse" }}"
                >
                  Read more
                </a>
              </p>

            </div>

          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>

{{ end }}
