{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "main" }}

{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}

<div class="posts_list_container">
  <div class="posts_list">
    {{ range $i, $elt := .Pages }}
      <div class="post_list_entry{{ cond (eq (mod $i 2) 0) "" " reverse" }}">
        <div
          class="image"
          style="background-image: url('/images/llama.jpg');"
        >
        </div>
        <div class="blog_content">
          <div class="text">
            <div style="text-align: {{ cond (eq (mod $i 2) 0) "right" "left" }}">
              <time class="post__date" datetime="{{ .Date }}">
                {{ .Date.Format $dateFormat }}
              </time>
              <h2 class="post__title">
                <a href="{{.RelPermalink}}">{{ $elt.Title }}</a>
              </h2>
            </div>
            <div class="summary">
              {{ if .Params.summary }}
                <p>{{ .Params.summary }}</p>
              {{ else }}
                {{ .Summary }}
              {{ end }}
            </div>
            <a href="{{ .RelPermalink }}" class="link">Read more</a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  {{ partial "browse-by-tag.html" .}}
  <!-- <ul class="post-list">
    {{ range .Pages }}
    <li class="post">
      <div class="post__header">
        <time class="post__date" datetime="{{ .Date }}"
          >{{ .Date.Format $dateFormat }}</time>
        <h2 class="post__title">
          <a href="{{.RelPermalink}}">{{ .Title }}</a>
        </h2>
        {{ partial "tags.html" .}}
      </div>
    </li>
    {{ end }}
  </ul> -->
</div>

{{ end }}
