.link a {
  color: white;
}

.link:hover {
  color: #3498db;
  transition-timing-function: ease-out;
  -webkit-transition: color 600ms;
  -moz-transition: color 600ms;
  -o-transition: color 600ms;
  transition: color 600ms;
}

.icon-header {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.icon {
    margin: 0.65vw !important;
}

.project-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.project-card #project-card-elt-2-text {
    padding-left: 3vw;
}

@media (max-aspect-ratio: 7/5) {
  .project-card {
    margin-bottom: 10vh;
  }

  .project-card #project-card-elt-1 {
    flex: initial;
    width: 100%;
  }
  .project-card #project-card-elt-2 {
    flex: initial;
    width: 100%;
  }
  .project-card #project-card-elt-2-text {
    padding-left: 0;
  }
}

.project-card-elt {
  flex: 1;
  width: 0;
}

.project-card-elt img {
  border-radius: 5px;
  max-width: 100%;
}

/* ABOUT PAGE */

.about_img {
    margin-top: 75px;
    border-radius: 50%;
    width: 35%;
    height: auto;
}

.icon-inversed {
    text-align:center;
    font-size:60px;
    padding:10px;
    margin:2px;
    border-radius:50%;
    border:2px solid #fff;
    transition:all .7s
}

.interest-title {
    color: #7f8c8d
}

.interest-col {
  margin-bottom: 20vh;
}

/* PROJECTS PAGE */

.project-title {
    font-size:50px;
    display:block;
    line-height:1;
    text-decoration: none;
    border-bottom: 4px solid white;
}

@media only screen and (min-width:768px) {
    .project-title {
        margin:0;
        font-size:100px
    }
}

.project-header-title a {
  text-decoration: none;
  color: rgba(34,34,34,0.8);
  font-size: 4.2rem;
}

.project-header-title a:hover {
  color: #3498db;
  font-size: 4.8rem;
  transition-timing-function: ease-out;
  -webkit-transition: color 600ms, font-size 600ms;
  -moz-transition: color 600ms, font-size 600ms;
  -o-transition: color 600ms, font-size 600ms;
  transition: color 600ms, font-size 600ms;
}

.project-header-img {
    max-width: 100%;
}

.article-content {
    max-width: 1000px;
    margin: 50px auto 30px auto;
    padding: 50px 80px;
    font-family: "Lato",Calibri,Arial,sans-serif;
    color: rgba(34,34,34,0.8);
    background-color: #fff;
    box-shadow: 0 0 0 0, 0 6px 12px rgba(0,0,0,0.1);
    border-radius: 3px;
}

@media (max-aspect-ratio: 6/5) {
  .article-content {
    padding: 50px 20px;
  }
}

.article-content .project-header-title {
    border-bottom: 4px solid rgba(34,34,34,0.8);;
    margin: 0 auto;
}

.technology-header {
    width: 100%;
    display: inline-block;
    margin: auto;
    margin-top: 1vh;
}

@media (min-width: 600px), screen and (min-device-aspect: 1) {
    .technology-header #technology-header-left {
        float: left;
    }
    .technology-header #technology-header-middle {
        float: left;
        margin-left: 5em;
    }
    .technology-header #technology-header-right {
        float: right;
    }
}

.technology-header p {
    font-size: 1.2em;
    color: #bdc3c7;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@media (max-width: 400px) {
    .technology-header p {
        font-size: 3.0vw;
    }
}

.header-article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-article p {
  color: #bdc3c7
}

#header-article-left {
  color: #bdc3c7;
}

#header-article-right {
  color: #bdc3c7;
}

.article-body p h1 h2 h3 {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.article-body p {
    font-size: 1.3em !important;
}
.article-body li {
    font-size: 1.3em !important;
}
@media (max-width:320px)  {
  .article-body p {
    font-size: 1.0em !important;
  }
  .article-body ul {
    font-size: 1.0em !important;
  }
}

.article-body h1 {
    font-size: 3em !important;
    font-weight: bold;
}

.article-body h2 {
    font-size: 2em !important;
    font-weight: bold;
}

.article-body h3 {
    font-size: 1.65em !important;
    font-weight: bold;
}

.article-body h4 {
    font-size: 1.5em !important;
}

.article-body a {
  text-decoration: none;
  color: #3498db;
}

.article-body a:hover {
  color: #e67e22;
  -webkit-transition: color 400ms linear;
  -ms-transition: color 400ms linear;
  transition: color 400ms linear;
}

#title-article-preview {
    color: rgba(34,34,34,0.8);
}

#title-article-preview a {
    text-decoration: none;
    color: rgba(34,34,34,0.8);
}

#title-article-preview a:hover {
    color: #2980b9;
    -webkit-transition: color 600ms linear;
    -ms-transition: color 600ms linear;
    transition: color 600ms linear;
}

/* TO USE IN MARKDOWN POSTS */

.markdown-img-large {
  width: 100%;
}

.markdown-img-caption {
  text-align: center;
  color: #bdc3c7;
}

.markdown-img-link {
  width: 50%;
}

