<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

  <meta charset="UTF-8">
  <meta name="language" content="en">
  <meta name="description" content="{{ if .IsHome}}{{ .Site.Params.Description }}{{ else }}{{.Page.Params.Description}}{{ end }}">
  <meta name="keywords" content="{{ delimit .Keywords " , " }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Twitter -->
  {{ if isset .Site.Params "twitter" }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ if .IsHome }}{{ htmlEscape .Site.Params.description }}{{ else }}{{ htmlEscape .Description }}{{ end }}"
  />
  <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
  <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />
  {{ end }}

  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />

  <!-- Styles -->
  {{ $current_page := . }}

  {{ $style := resources.Get "scss/pages/about.scss" | resources.ExecuteAsTemplate "css/about.css" $current_page | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"/>

    {{ range .AlternativeOutputFormats }}
  {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }} 
  {{ end }}
  {{ block "links" . }} {{ end }}
  {{ partial "seo-schema.html" .}}

  {{- if not .Site.IsServer -}}
      {{ template "_internal/google_analytics_async.html" . }}
  {{- end -}}
</head>

<body>
  {{ partial "burger.html" .}}
  {{ partial "nav.html" .}}

  <main>
    <div class="content">
      {{ partial "anchored-headings.html" .Content }}

      <h2>Teaching</h2>
      <div class='teaching'>
        {{ range $experience := .Params.teaching }}
          <div class="teaching_entry">
            <div class="teaching_entry_title">
            {{ partial "icon.html" ( dict "page" . "icon" "student" ) }}
            <span style='font-weight: 800;'>
              {{ $experience.date }}, {{ $experience.school }},
            </span>
            <span>{{ $experience.title }}</span><br>
            </div>
            <div class="center" style='font-style: italic;'>{{ $experience.course }}</div>
          </div>
        {{ end }}
      </div>

      <h2>Find me on</h2>
      {{ partial "social-icons.html" .}}

    </div>
  </main>

  {{ block "footer" . }} {{ end }}

  {{ $script := resources.Get "js/index.js" | minify | fingerprint }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}" crossorigin="anonymous"></script>
  {{ block "scripts" . }} {{ end }}
</body>

</html>
