<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}

{{ with ( .Params.images ) }}
  {{ with ( index . 0 ) }}
    {{ $.Scratch.Set "pageThumbnail" ( . | absURL ) }}
  {{ end }}
{{ end }}
{{ with ( .Params.videos ) }}
  {{ with (index . 0) }}
    {{ $.Scratch.Set "pageVideo" ( . | absURL ) }}
  {{ end }}
{{ end }}

{{ block "seo_variables" . }} {{ end }}
{{ partial "head.html" . }}

<body>
  {{ partial "burger.html" .}}
  {{ partial "nav.html" .}}

  <main>
    <div class="content">

      {{ .Content | safeHTML }}

      <h2>Teaching</h2>
      <div class='teaching'>
        {{ range $experience := .Params.teaching }}
          <div class="teaching_entry">
            <div class="teaching_entry_title">
            {{ partial "icon.html" ( dict "page" . "icon" "student" ) }}
            <span style='font-weight: 800;'>
              {{ $experience.date }}, {{ $experience.school }},
            </span>
            <span>{{ $experience.title }}</span><br>
            </div>
            <div class="center" style='font-style: italic;'>{{ $experience.course }}</div>
          </div>
        {{ end }}
      </div>

      <h2>Find me on</h2>

      {{ partial "social-icons.html" .}}

    </div>
  </main>

  {{ block "footer" . }} {{ end }}

  {{ $script := resources.Get "js/index.js" | minify | fingerprint }}
  <script
    src="{{ $script.RelPermalink }}"
    integrity="{{ $script.Data.Integrity | safeHTMLAttr }}"
    crossorigin="anonymous"
  >
  </script>
  {{ block "scripts" . }} {{ end }}
</body>

</html>
