@import "../main";
@import "../partials/vars";

.teaching {
  margin-top: $lineSpace;
  margin-left: $lineSpace;

  .teaching_entry {
    margin-bottom: 2rem;

    .teaching_entry_title {
      display: flex;
      justify-content: center;

      .icon {
        margin-right: 1rem;
      }
    }
  }
}
