@import "../main";
@import "../partials/vars";

.teaching {
  margin-top: $lineSpace;
  margin-left: 0.5rem;

  .teaching_entry {
    margin-bottom: 2rem;

    span {
      padding-left: 0.5rem;
    }

    .teaching_entry_title {
      display: flex;

      .icon {
        margin-right: 1rem;
      }
    }
  }
}
