@import "../main";

.splash-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  font-size: 18px;
  cursor: grab;

  @media screen and (max-width: $medium + 1) {
    font-size: 14px;
  }
}

.splash {
  color: white;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.55);

  h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0;
  }

  h2 {
    margin-top: 0.5rem;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.25;
    max-width: 22em;
    letter-spacing: -0.03em;
  }
}

.fancy {
  color: #3498db;
}

.handle {
  display: inline-block;
  margin-top: 0.275em;
  color: $lightgray;
  letter-spacing: 0.5px;
}

.writing {
  text-decoration: none;
  color: $primary;
}

.interaction-prompt {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0; // For delay
    }
    75% {
      opacity: 1; // For delay
    }
    100% {
      opacity: 0;
    }
  }

  position: absolute;
  left: 75%;
  top: 20%;
  animation: fadeIn 5s ease-in alternate infinite;
}

#missingWebGL2 {
  width: 100%;
  display: none;
  position: absolute;
  bottom: 2rem;
  text-align: center;
  color: $black;
}

/* overrides */

main {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  z-index: 0;
}

.canvas-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  @media screen and (max-width: $medium - 1) {
    max-width: initial;
  }
}

canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

.social-icons {
  justify-content: flex-start;
  padding-top: 1rem;
  margin-left: -0.8rem; // offset to negate icon's padding to align with text above
}
