@import "../main";
@import "../partials/card";
@import "../partials/text";
@import "./tags";

.cards_list_container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: $large) {
    padding-left: 50px;
  }

  .tags_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: $smallMargin;

    .tag {
      min-width: 3rem;
      padding: 0.25rem 0.75rem 0.25rem 0.75rem;
      margin-bottom: $smallMargin;
      text-align: center;
      color: white;
      background-color: #cccccc;
      border-radius: 0.75rem;
      font-weight: 700;
      font-size: 1rem;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    }

    .tag_reverse {
      margin: 0.5rem 0 0 0;
    }
  }

  .tags_list.reverse {
    justify-content: flex-end;
  }

  .tag_image {
    margin: auto;
    width: 5rem;
    position: absolute;
  }
  .tag_image.left {
    left: 0;
    padding-left: $cardInnerPadding;
  }

  .tag_image.right {
    right: 0;
    padding-right: $cardInnerPadding;
  }
}
