@import "./tags";
@import "../main";
@import "../partials/card";
@import "../partials/text";

.cards_list_container {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: $medium) {
    padding-left: 50px;
  }

  .tags_list {
    display: flex;
    justify-content: flex-end;
    margin-top: $smallMargin;

    .tag {
      min-width: 3rem;
      padding: 0.25rem 0.75rem 0.25rem 0.75rem;
      margin: 0 0 0 0.5rem;
      text-align: center;
      color: white;
      background-color: #cccccc;
      border-radius: 0.75rem;
      font-weight: 700;
      font-size: 1rem;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    }

    .tag_reverse {
      margin: 0.5rem 0 0 0;
    }
  }

  .tag_image {
    margin: auto;
    width: 6rem;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
  }
}
