@import "../main";
@import "../partials/vars";

.course {

  h3 {
    margin-bottom: 2px;
  }

  .sub {
    margin-top: 4px;
    display: flex;
    align-items: center;
  }

  .header {
    display: flex;
    gap: 10px;
  }

  .icon {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
  }

  .icon-left {
    margin-right: 6px;
  }

  .icon-right {
    margin-left: 6px;
  }

  .inner {
    margin-top: 1rem;
    margin-left: 1.5rem;

    a {
      color: $black;
    }

    a:hover {
      color: $bluelink;
    }
  }

  span {
    color: $grey;
    font-size: .8rem;
  }

  p {
    margin: 0;
  }

}
