<head>
  {{ .Scratch.Set "pageFullTitle" .Site.Title }}
  {{ with .Title  }}
    {{ $pageTitle := (print . " | ") }}
    {{ $.Scratch.Set "pageFullTitle" (print $pageTitle $.Site.Title) }}
  {{ end }}

  {{ $pageFullTitle := (.Scratch.Get "pageFullTitle") }}

  {{ .Scratch.Set "pageDescription" "" }}
  {{ if .IsHome }}
    {{ .Scratch.Set "pageDescription" (htmlEscape .Site.Params.description) }}
  {{ else }}
    {{ .Scratch.Set "pageDescription" (htmlEscape .Description) }}
  {{ end }}

  <title>
    {{ if .IsHome }}
      {{ .Site.Title }}
    {{ else }}
      {{ .Title }} | {{ .Site.Title }}
    {{ end }}
  </title>

  <meta charset="UTF-8">
  <meta name="language" content="en">
  <meta
    name="description"
    content="{{ if .IsHome}}{{ .Site.Params.Description }}{{ else }}{{.Page.Params.Description}}{{ end }}"
  >
  <meta name="keywords" content="{{ delimit .Keywords " , " }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Twitter -->
  {{ if isset .Site.Params "twitter" }}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ $pageFullTitle }}" />
  <meta
    name="twitter:description"
    content="{{ .Scratch.Get "pageDescription" }}"
  />
  <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
  <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />

  {{ end }}

  <!-- Facebook -->

  <meta property="og:title" content="{{ $pageFullTitle }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:description" content="{{ .Scratch.Get "pageDescription" }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />

  <!-- Card Image -->

  {{ with ( .Scratch.Get "pageThumbnail" ) }}
    <!-- Use the URL as is -->
    {{ $url := (. | absURL) }}
    <meta name="twitter:image" content="{{ $url }}" />
    <meta property="og:image" content="{{ $url }}" />
    <meta property="og:image:secure_url" content="{{ $url }}" />
  {{ end }}

  {{ with ( .Scratch.Get "pageVideo" ) }}
    <meta name="twitter:player" content="{{ . }}" />
    <meta property='og:video' content="{{ . }}" />
  {{ end }}

  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />

  <!-- Styles -->

  <!-- Get "style_opts" variable from "styles" block -->
  {{ $base_styles_opts := .Scratch.Get "style_opts" | default (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}

  {{ $current_page := . }}

  {{ range (slice $base_styles_opts ) }}
    {{ $style := resources.Get .src | resources.ExecuteAsTemplate .dest $current_page | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"/>
  {{ end }}

  {{ range .AlternativeOutputFormats }}
  {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }} 
  {{ end }}
  {{ block "links" . }} {{ end }}
  {{ partial "seo-schema.html" .}}

  {{- if not .Site.IsServer -}}
      {{ template "_internal/google_analytics_async.html" . }}
  {{- end -}}

</head>
