{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/home.scss" "dest" "css/home.css") }}
{{ end }}

{{ define "pre-main" }}

<div class="canvas-container">
  <canvas></canvas>
</div>

<!-- {{ partial "interaction-prompt.html" .}} -->

<div id="missingWebGL2">
  WebGL2 is not available in this
  <a href="https://caniuse.com/?search=webgl2" target="_blank">
    browser.
  </a>
  </br>
  To try the demo, please switch browser, or enable WebGL2 in the experimental features panel.<br>
</div>

{{ end }}

{{ define "main" }}

<!-- <div class="splash-container">

  <div class="splash">
    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h2>
      {{ .Params.subheading }}
    </h2>
    {{ partial "social-icons.html" .}}
  </div>

</div> -->

{{ end }}
