{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/home.scss" "dest" "css/home.css") }}
{{ end }}

{{ define "main" }}

<div class="splash-container">

  <div class="splash">
    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h2>
      {{ .Params.subheading }}
    </h2>
    {{ partial "social-icons.html" .}}
  </div>

  <div class="canvas-container">
    <canvas></canvas>
  </div>

</div>

{{ end }}
