<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body style="background-color: #e8e8e8;">
      {% include header.html %}
      <section id="down">
        <div class="article-content">
            {% if page.link %}
            <div class="project-header-title" style="font-size:0px;">
              <i class="fa fa-link"></i>
              <span><a href="{{ page.link }}">{{ page.title }}</a></span>
            </div>
            {% else %}
            <span class="project-header-title">{{ page.title }}</span>
            {% endif %}
            <div class="technology-header" style="display: flex">
                <div class="technology-header-elt">
                    <i class="{{ page.headers[0].icon }}"></i>
                    <span>{{ page.headers[0].description }}</span>
                </div>
                <div class="technology-header-elt" id="technology-header-elt-2">
                    <i class="{{ page.headers[1].icon }}"></i>
                    <span>{{ page.headers[1].description }}</span>
                </div>
                <div class="technology-header-elt" id="technology-header-elt-3">
                    <i class="{{ page.headers[2].icon }}"></i>
                    <span>{{ page.headers[2].description }}</span>
                </div>
            </div>
            {% if page.image %}
            <div style="margin: auto; margin-bottom: 3vh;">
                <img class="project-header-img" src="{{site.url}}/{{site.projects_img_folder}}/{{page.image}}"></img>
            </div>
            {% endif %}

          <div class="article-body">
            {{content}}
          </div>
        </div>
      </section>
      {% include footer.html %}
  </body>
