{{ $idBase := default .Page.RelPermalink .Page.File.UniqueID }}
{{ $id := printf "demo-carousel-%s-%d" ($idBase | anchorize) .Ordinal }}

<div
  id="{{ $id }}"
  class="demo-carousel"
  data-demo-carousel
>
  <iframe></iframe>

  <p
    data-demo-fullscreen
    style="position: absolute; bottom: 24px; right: 16px; font-size: 78px; margin: 0px; color: rgb(236, 240, 241); cursor: pointer;">
    ⛶
  </p>
  <button
    type="button"
    class="demo-carousel__button demo-carousel__button--overlay demo-carousel__button--prev"
    data-demo-prev
    aria-label="Show previous demo"
  >
    <
  </button>
  <button
    type="button"
    class="demo-carousel__button demo-carousel__button--overlay demo-carousel__button--next"
    data-demo-next
    aria-label="Show next demo"
  >
    >
  </button>

  <p data-demo-title></p>
</div>

{{ if not (.Page.Scratch.Get "demo-carousel-script") }}
  <script>
    (function () {
      const demos = JSON.parse({{ .Inner }});
      const setup = function () {
        const root = document.querySelector('[data-demo-carousel]');
        const frame = root.getElementsByTagName('iframe')[0];

        const fullscreen = root.querySelector('[data-demo-fullscreen]');
        if (/iPhone/.test(navigator.userAgent)) {
            fullscreen.style.display = 'none';
        }
        fullscreen.addEventListener('click', () => {
          if (document.fullscreenElement) {
            document.exitFullscreen().then(() => {}).catch((err) => console.error(err))
          } else {
            frame.requestFullscreen();
          }
        });

        const activate = function(index) {
          const demo = demos[index];

          frame.className = "demo-carousel__frame";
          frame.src = `/demo/${demo.url}/index.html`;
          frame.loading = "eager";
          frame.setAttribute("allowfullscreen", "");
          frame.referrerPolicy = "strict-origin-when-cross-origin";

          const title = root.querySelector('[data-demo-title]');
          title.innerHTML = demo.title;
        };

        let index = 0;
        const previousButton = root.querySelector("[data-demo-prev]");
        previousButton.onclick = function() {
          index = (index == 0 ? demos.length : index) - 1;
          activate(index);
        };
        const nextButton = root.querySelector("[data-demo-next]");
        nextButton.onclick = function() {
          index = (index + 1) % demos.length;
          activate(index);
        };

        activate(0);
      };

      if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", setup, { once: true });
      } else {
        setup();
      }
    })();
  </script>
  {{ .Page.Scratch.Set "demo-carousel-script" true }}
{{ end }}
